aio-pika==9.5.7
aiormq==6.9.2
annotated-types==0.7.0
black==25.9.0
cfgv==3.4.0
click==8.3.0
coverage==7.11.0
distlib==0.4.0
dotenv==0.9.9
filelock==3.20.0
identify==2.6.15
idna==3.11
iniconfig==2.3.0
multidict==6.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pamqp==3.3.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
propcache==0.4.1
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
pyright==1.1.407
pytest==8.4.2
pytest-cov==7.0.0
python-dotenv==1.2.1
pytokens==0.2.0
PyYAML==6.0.3
ruff==0.14.2
typing-inspection==0.4.2
typing_extensions==4.15.0
virtualenv==20.35.4
yarl==1.22.0
